/* Media query for most mobile device screens */
@media screen and (max-width: 900px) {
  #timer-wrapper {
    width: 33.33% !important;
  }
}

.button-group {
  width: 50%;
}
.timer-end {
  background-color: #90746F !important;
}
body {
  background-color: slategrey;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: calc(2.5em * 2);
  width: 100vw;
  border-bottom: 5px solid black;
  background-color: #746F90;
}
footer {
  bottom: 0vh;
  left: 0vw;
  width: 100vw;
}
#clock {
  text-align: center;
}
#clock-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: 5vh 0 0 0;
  padding: calc(2.5em * 2) 0 0 0;
  text-align: center;
}
#timer-wrapper {
  padding: 5px 5px 5px 5px;
  width: 20%;
  border: 5px solid black;
  border-radius: 25px;
  background-color: #C1C8CF;
}
#start_stop {
  padding-right: 10px;
}
#reset {
  padding-left: 10px;
}
